body, div {
	margin-left: 40px;
	padding: 0;
    font-family: Comic Sans MS; 
    font-size: 18px;
}
body { 
	background-color: rgb(128, 82, 255);
}

/*entête*/

.entete{
	padding: 2px;
	background-color: rgb(0, 0, 0);
    border: 4px solid rgb(0, 0, 0);
    float: left;
	height: 100px;
	width: 1527px;
	margin-top: -20px;
	margin-left: -48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-attachment: fixed;

}

.bouttons {
	background-attachment: fixed;
}

/*barre de recherche*/ 

.container{
	width: 60%;
	margin: -55px auto;
}

.input{
	font-size: 25px;
	width: 80%;
}

.suggestion{
	font-size: 22px;
	margin-left: -40px;
	width: 60%;
	color: #ffff;
}

.suggestion:hover{
	background-color: cornflowerblue;
	color: #ffff;
}


/*url*/

.url{
	position: relative;
	color: rgb(255, 255, 255);
}

#acceuil{
	position: relative;
	color: red;
	background-attachment: fixed;
	margin-left: 1250px;
	margin-top: -65px;
}

#acceuil span{
	color: red;
	text-decoration: underline black;
}

#jeux{
	position: relative;
	color: red;
	background-attachment: fixed;
	margin-left: 1340px;
	margin-top: -51px;

}

#jeux span{
	color: red;
	text-decoration: underline black;
}

.input{
	position: relative;
	background-attachment: local;
	padding: auto;
}

#img{
	position: relative;
	background-attachment: local;
	margin-left: 0px;
	margin-top: 4px;
}

/*milieux*/

.milieux{
	padding: 2px;
    top: 150px;
	margin-left: 250px;
	height: 100px;
	width: 800px;
	text-align: center;
}

#titre{
	top: -185px;
	margin-left: -50px;
	height: 100px;
	width: 800px;
	color: black;
	width: 100%;
	text-align: center;
}

#titre span{
	color: black;
	text-decoration: underline white;
}

#farming22{
	color: black;
	text-decoration: underline red;
	left: 50%;
}

#fs22-texte{
	background-color: rgb(255, 0, 0);
    border: 4px solid rgb(0, 0, 0);
	border-radius: 50px;
    transform: translate(280%, 100%);
	height: 60px;
	width: 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-attachment: local;
}

#texte{
	margin-left: 0px;
	margin-top: -12px;
}

/*bas de page */

#href{
	padding: 2px;
	color: rgb(191, 71, 255);
	background-color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
	text-align: center;
	margin-inline: -38px;
	margin-top: 1960px;
	left: -30px;
	height: 100px;
	position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-attachment: fixed;
}

#href-color span{
	color: rgb(191, 71, 255);
	text-decoration: underline white;
}