body, div {
  margin: auto;
  font-family: Comic Sans MS; 
  font-size: 18px;
}
body { 
	background: rgb(128, 82, 255);
}

/*entête*/

.entete{
	background-color: rgb(0, 0, 0);
  border: 4px solid rgb(0, 0, 0);
	height: 100px;
  width: 100%;
	margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*barre de recherche*/ 

.container{
	width: 60%;
	margin: -55px auto;
}

.input{
	font-size: 25px;
  margin: auto;
	width: 80%;
}

.suggestion{
	font-size: 22px;
	margin-left: -40px;
	width: 60%;
  margin: auto;
	color: #ffff;
}

.suggestion:hover{
  margin: auto;
	background: cornflowerblue;
	color: #ffff;
}

/*url*/

#url{
  text-align: right;
}

#acceuille{
	color: rgb(255, 0, 0);
  width: auto;
	text-align: right;
  margin-right: 150px;
}

#acceuille span{
  text-decoration: underline black;
}

#jeux{
	color: rgb(255, 0, 0);
  width: auto;
  margin-right: 100px; 
	text-align: right;
}

#jeux span{
  text-decoration: underline black;
}

.input{
	padding: auto;
}

#titre {
	text-align : center;
	text-size-adjust: auto;
}

#img{
	margin-left: auto;
	margin-top: 4px;
}

/*milieux*/

.milieux{
  margin-top: 200px;
	width: auto;
	size-adjust: auto;
}

#titre{
	color: black;
	width: 100%;
}

/*bas de page */

#hypertext-couleur span{
	color: rgb(191, 71, 255);
}

#textbas{
  position: absolute;
	padding: 2px;
	color: rgb(191, 71, 255);
	background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
	text-align: center;
	height: auto;
	width: 100%;
  left: auto;
  margin-left: auto;
  top: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* modal boutons et animations */

.modal-btn {
  padding: 10px 14px;
  font-size: 18px;
  margin: 100px auto;
  display: block;
  min-width: 150px;
  cursor: pointer;
}

.modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.4s;
}
.modal-container.active {
  visibility: visible;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333ea;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  opacity: 0;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}

.modal-container.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}
.modal h1 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.modal p {
  line-height: 1.4;
  margin-bottom: 5px;
}